{% extends 'admin/base.html.twig' %}

{% block leftmenu %}
<ul class="nav flex-column">
    <li class="nav-item">
        {{ 'Status' }}
        <ul class="nav flex-column">
            {% for doodle_status in doodle_statuses %}
            <li class="nav-item">
                <a class="nav-link {% if app.request.get('status') == doodle_status.id %}active{% endif %}"
                   href="{{ path('admin_doodle_gallery', {order: 'popularity',id : id, status : doodle_status.id}) }}">
                    {{ doodle_status.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </li>
    <li class="nav-item">
        {{ 'Order by' }}
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if app.request.get('order') == 'popularity' %}active{% endif %}" href="{{ path('admin_doodle_gallery', {order: 'popularity',id : id, status : status}) }}">
                    {{ 'Popularity' }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if app.request.get('order') == 'createdAt' %}active{% endif %}" href="{{ path('admin_doodle_gallery', {order: 'createdAt',id : id, status : status}) }}">
                    {{ 'Add date' }}
                </a>
            </li>
        </ul>
    </li>
</ul>
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row mt-4">
            <div class="col-sm">
                <h6>{{ 'Gallery'|trans|upper }}</h6>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4 mt-4 mb-4">
            {% for doodle in doodles %}
            {% if (loop.index - 1) % 3 == 0 %}
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
            {% endif %}
            <div class="col">
                <div class="card image-card h-100">
                    <a href="{{ path('doodle_view', {id: doodle.id}) }}" class="">
                        <img src="/img/doodle{{ doodle.url }}" class="card-img-top" alt="{{ doodle.userName }}">
                    </a>
                    <div class="image-card-info">
                        <div class="opacity-0 image-card-overlay">
                        </div>
                        <div class="opacity-0 image-card-description">
                            <p>
                                {{ doodle.status.name }}
                                <a href="#" class="change-doodle-status"
                                   data-id="{{ doodle.id }}"
                                   data-bs-toggle="modal"
                                   data-bs-target="#change-doodle-status-modal">
                                    Change
                                </a>
                            </p>
                            <p>
                                <a href="{{ path('doodle_view', {id: doodle.id}) }}" class="">
                                    {{ doodle.description|slice(0, 200) }}
                                </a>
                            </p>
                            <p>
                                <a href="{{ path('doodle_view', {id: doodle.id}) }}" class="">
                                    <b>{{ doodle.userName }}</b>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if (doodles|length) % 3 == 1 %}
                <div class="col">
                    <div class="card h-100"></div>
                </div>
                <div class="col">
                    <div class="card h-100"> </div>
                </div>
            {% elseif (doodles|length) % 3 == 2 %}
                <div class="col">
                    <div class="card h-100"></div>
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="change-doodle-status-modal" tabindex="-1" aria-labelledby="change-doodle-status-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ "Change status" }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="change-doodle-status-modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ "Close" }}</button>
                    <button type="button" class="btn btn-primary" id="change-doodle-status-modal-submit">{{ "Change" }}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block pagejavascripts %}
    {{ encore_entry_script_tags('gallery') }}
{% endblock %}
