{% extends 'admin/base.html.twig' %}

{% block leftmenu %}
    <ul class="nav flex-column">
        <li class="nav-item">
            {{ 'Month' }}
            <ul class="nav flex-column">
                {% for m_val in months %}
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('year') == m_val|date("Y") and app.request.get('month') == m_val|date("m") %}active{% endif %}"
                       href="{{ path('temp_files', {year: m_val|date("Y"),month : m_val|date("m")}) }}">
                        {{ m_val|date("Y") }}-{{ m_val|date("m") }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <div class="container mt-5">

        <div class="row mt-4">
            <div class="col-sm">
                <h6>{{ 'Gallery'|upper }}</h6>
                <button class="btn btn-danger float-right" data-year="{{ year }}" data-month="{{ month }}"
                        data-bs-toggle="modal"
                        data-bs-target="#delete-temp-files-modal">
                    {{ "Delete temp files from" }} {{ year }}-{{ month }}
                </button>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-4 mb-4">
                    {% for file in files %}
                    {% if (loop.index - 1) % 3 == 0 %}
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
                    {% endif %}
            <div class="col">
                <div class="card image-card h-100">
                    <a href="#" class="">
                        <img src="/temp_img/doodle{{ file.url }}" class="card-img-top" alt="{{ file.url }}">
                    </a>
                    <div class="image-card-info">
                        <div class="opacity-0 image-card-overlay">
                        </div>
                        <div class="opacity-0 image-card-description">
                            <p>
                                <a href="/temp_img/doodle{{ file.url }}" class="">
                                    {{ file.url }}
                                </a>
                            </p>
                            <p>
                                <a href="/temp_img/doodle{{ file.url }}" class="">
                                    {{ file.modifiedDate|date("Y-m-d") }}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
                    {% endfor %}
                    {% if (files|length) % 3 == 1 %}
                        <div class="col">
                        <div class="card h-100"></div>
                    </div>
            <div class="col">
                        <div class="card h-100"> </div>
            </div>
                    {% elseif (files|length) % 3 == 2 %}
            <div class="col">
                        <div class="card h-100"></div>
            </div>
                    {% endif %}
        </div>
    </div>
    <!-- Modal -->
    <div id="delete-temp-files-modal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-temp-files-modal-title">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="delete-temp-files-modal-error" class="alert alert-danger d-none" role="alert">
                        A simple danger alert—check it out!
                    </div>
                    Are you sure you want to delete temp files from month {{ year }}-{{ month }}?
                    <form id="delete-temp-files-form" action="" class="js-delete-temp-files-form">
                        <input type="hidden" name="month" value="{{ month }}">
                        <input type="hidden" name="year" value="{{ year }}">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="delete-temp-files-form">
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagejavascripts %}
    {{ encore_entry_script_tags('temp_files') }}
{% endblock %}