{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <img class="img-fluid" src="/img/doodle{{ doodle.url }}">
        </div>
        <div class="col-lg-6 col-md-12">
            <dl class="row">
                <dt class="col-sm-3">{{ 'Title'|trans }}</dt>
                <dd class="col-sm-9">
                    {{ doodle.title }}
                </dd>
            </dl>
            <div class="row">
                <div class="col-sm">
                    {% if doodle.user == app.user %}
                        <div class="alert alert-warning" role="alert">{{ 'Are you sure you want to delete this doodle?'|trans }}</div>
                        <a href="{{ path('doodle_view', {id : doodle.id}) }}" class="btn btn-secondary">{{ 'Cancel'|trans }}</a>
                        <a href="{{ path('user_doodle_delete', {id : doodle.id, confirmed: true}) }}" class="btn btn-secondary">{{ 'Delete'|trans }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block pagejavascripts %}
{% endblock %}