{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm">
            <input type="hidden" name="id" id="id" value="{{ id }}"/>
            <input type="hidden" name="coordinates" id="coordinates" value="{{ doodle_coordinates_json }}"/>
            <div class="mb-3">
                <div class="btn-group" role="group">
                    <input type="radio" class="btn-check" name="tool" id="pencil" autocomplete="off" checked>
                    <label class="btn btn-secondary active" for="pencil"> {{ 'Pencil'|trans }}</label>

                    <input type="radio" class="btn-check" name="tool" id="eraser" autocomplete="off">
                    <label class="btn btn-secondary" for="eraser"> {{ 'Eraser'|trans }}</label>
                </div>
            </div>
            <div class="mb-3">
                <label for="opacity" class="form-label">{{ 'Opacity'|trans }}</label>
                <input type="range" class="form-range range-artflow" id="opacity" min="0" max="255" value="255">
            </div>
            <div class="mb-3">
                <label for="size" class="form-label">{{ 'Size'|trans }}</label>
                <input type="range" class="form-range range-artflow" id="size" min="1" max="20" value="1">
            </div>
            <div class="mb-3">
                <div class="btn-container">
                    <button type="button" class="btn btn-artflow" id="refresh-doodle">{{ 'Refresh Doodle'|trans }}</button>
                    <button type="button" class="btn btn-artflow" id="refresh-symmetrical-doodle">{{ 'Refresh symmetrical Doodle'|trans }}</button>
                    <button type="button" class="btn btn-artflow" id="clear-sketchbook">{{ 'Clear drawing area'|trans }}</button>
                    <!--a href="#" class="btn btn-artflow" id="download-image" download="artflow.png" target="_blank">{{ 'Download image'|trans }}</a-->
                    <a href="#" class="btn btn-artflow" id="save-image">{{ 'Save image'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="canvas-container" >
                <canvas class="canvas-bottom" id="doodle-sketchbook"></canvas>
                <canvas class="canvas-top" id="sketchbook"></canvas>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block pagejavascripts %}
    {{ encore_entry_script_tags('doodle_sketchbook') }}
{% endblock %}
