{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <img class="img-fluid" src="/img/doodle{{ doodle.url }}">
            <div class="row row-cols-1 row-cols-md-3 g-4 mt-4 mb-4">
                 {% for doodle in doodles %}
                 <div class="col">
                     <div class="card image-card h-100">
                         <a href="{{ path('doodle_view', {id: doodle.id}) }}" class="">
                             <img src="/img/doodle{{ doodle.url }}" class="card-img-top" alt="{{ doodle.title }}">
                         </a>
                         <div class="image-card-info">
                             <div class="opacity-0 image-card-overlay">
                             </div>
                             <div class="opacity-0 image-card-description">
                                 <p>
                                     <a href="{{ path('doodle_view', {id: doodle.id}) }}" class="">
                                         {{ doodle.description|slice(0, 200) }}
                                     </a>
                                 </p>
                                 <p>
                                     <a href="{{ path('doodle_view', {id: doodle.id}) }}" class="">
                                         <b>{{ doodle.user.username }}</b>
                                     </a>
                                 </p>
                             </div>
                         </div>
                     </div>
                 </div>
                 {% endfor %}
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            {% if is_rejected %}
            <div class="alert alert-danger" role="alert">
                {{ 'This doodle was rejected'|trans }}
            </div>
            {% elseif is_new %}
            <div class="alert alert-warning" role="alert">
                {{ 'This doodle has not been accepted yet'|trans }}
            </div>
            {% endif %}
            <dl class="row">
                <dt class="col-sm-3">{{ 'User name'|trans }}</dt>
                <dd class="col-sm-9">
                    <a href="{{ path('user', {username: doodle.user.username}) }}">{{ doodle.user.username }}</a>
                </dd>
                <dt class="col-sm-3">{{ 'Title'|trans }}</dt>
                <dd class="col-sm-9">
                    {{ doodle.title }}
                </dd>
                <dt class="col-sm-3">{{ 'Description'|trans }}</dt>
                <dd class="col-sm-9">
                    <p>{{ doodle.description|nl2br  }}</p>
                </dd>
                <dt class="col-sm-3">{{ 'Views'|trans }}</dt>
                <dd class="col-sm-9">
                    <p>{{ doodle.views }}</p>
                </dd>
            </dl>
            <div class="row">
                <div class="col-sm">
                    <a href="{{ path('doodle_gallery', {order: 'popularity',id : doodle.id}) }}" class="btn btn-secondary">{{ 'Similar doodles'|trans }}</a>
                    {% if doodle.id != 2 %}
                    <a href="{{ path('doodle', {id : doodle.id}) }}" class="btn btn-secondary">{{ 'Use shape'|trans }}</a>
                    {% endif %}
                    {% if doodle.user == app.user %}
                    <a href="{{ path('user_doodle_edit', {id : doodle.id}) }}" class="btn btn-secondary">{{ 'Edit'|trans }}</a>
                    <a href="{{ path('user_doodle_delete', {id : doodle.id}) }}" class="btn btn-secondary">{{ 'Delete'|trans }}</a>
                    {% endif %}
                </div>
            </div>
            <div class="row mt-4 mb-4"><p class="h4">{{ 'Comments'|trans }} ({{ doodleComments|length }})</p></div>
            <div class="row mt-4 mb-4">
                <div class="col">
                    {% for flashSuccess in app.flashes('success') %}
                        <div class="alert alert-success" role="alert">{{ flashSuccess }}</div>
                    {% endfor %}
                    {{ form(commentForm) }}
                </div>
            </div>
            <div class="row">
                {% macro doodle_comments(comments, i) %}
                    {% import _self as macros %}
                        {% for doodleComment in comments %}
                            <div class="{% if i > 1 and i <= 3 %}ms-4 col{% else %}col-12{% endif %}  doodle-comment" id="doodle-comment-{{ doodleComment.id }}">
                                <figure>
                                    <blockquote class="blockquote">
                                        <p>{{ doodleComment.content }}</p>
                                    </blockquote>
                                    <figcaption class="blockquote-footer text-end">
                                        <a href="{{ path('user', {username: doodleComment.user.username}) }}">
                                            {{ doodleComment.user.username }}
                                        </a>
                                        <cite title="Source Title">{{ doodleComment.createdAt|date('Y-m-d H:i:s') }}</cite>
                                    </figcaption>
                                    <a href="#"
                                       class="doodle-comment-reply"
                                       id="doodle-comment-reply-{{ doodleComment.id }}"
                                       data-id="{{ doodleComment.id }}"
                                       data-for="doodle-comment-{{ doodleComment.id }}"
                                    >
                                        {{ 'Reply'|trans }}
                                    </a>
                                </figure>

                                {% if doodleComment.doodleComments.count %}
                                {{ macros.doodle_comments(doodleComment.doodleComments, i+1) }}
                                {% endif %}
                            </div>
                        {% endfor %}
                {% endmacro %}
                {% import _self as macros %}
                {{ macros.doodle_comments(doodleComments, 1) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block pagejavascripts %}
    {{ encore_entry_script_tags('doodle_view') }}
{% endblock %}