{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm">
            <img src="/img/doodle{{ file_url }}">
            <div class="row">
                <div class="col-sm mt-4">
                    <div class="card-deck">
                        {% for doodle in doodles %}
                        <div class="card image-card">
                            <a href="{{ path('doodle_view', {id: doodle.id}) }}" class="">
                                <img src="/img/doodle{{ doodle.url }}" class="card-img-top" alt="{{ doodle.userName }}">
                            </a>
                            <div class="image-card-info">
                                <div class="opacity-0 image-card-overlay">
                                </div>
                                <div class="opacity-0 image-card-description">
                                    <p>
                                        <a href="{{ path('doodle_view', {id: doodle.id}) }}" class="">
                                            {{ doodle.description|slice(0, 200) }}
                                        </a>
                                    </p>
                                    <p>
                                        <a href="{{ path('doodle_view', {id: doodle.id}) }}" class="">
                                            <b>{{ doodle.userName }}</b>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            {% if status_rejected %}
            <div class="alert alert-danger" role="alert">
                {{ 'This doodle was rejected'|trans }}
            </div>
            {% elseif status_new %}
            <div class="alert alert-warning" role="alert">
                {{ 'This doodle has not been accepted yet'|trans }}
            </div>
            {% endif %}
            <dl class="row">
                <dt class="col-sm-3">{{ 'User name'|trans }}</dt>
                <dd class="col-sm-9">{{ user_name }}</dd>
                <dt class="col-sm-3">{{ 'Description'|trans }}</dt>
                <dd class="col-sm-9">
                    <p>{{ description|nl2br  }}</p>
                </dd>
            </dl>
            <div class="row">
                <div class="col-sm">
                    <a href="{{ path('doodle', {id : id}) }}" class="btn btn-secondary">{{ 'Use doodle'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block pagejavascripts %}
{% endblock %}