{% extends 'base.html.twig' %}

{% block title %}{{ user.username }} &#x2027; {{ page_name }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h1>{{ user.username }}</h1>
                <h4>{{ 'Since'|trans }}: {{ user.createdAt|date('Y-m-d') }}</h4>
            </div>
        </div>
        {% if doodles|length > 0 %}
        <hr/>
        <div class="row mt-4">
            <div class="col-sm">
                <a href="{{ path('doodle_gallery', {order: 'popularity'}) }}">
                    <h6>{{ 'Most popular'|trans|upper }}</h6>
                </a>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
            {% for doodle in doodles %}
                <div class="col">
                    <div class="card image-card h-100">
                        <a href="{{ path('doodle_view', {id: doodle.id}) }}" class="">
                            <img src="/img/doodle{{ doodle.url }}" class="card-img-top" alt="{{ doodle.userName }}">
                        </a>
                        <div class="image-card-info">
                            <div class="opacity-0 image-card-overlay">
                            </div>
                            <div class="opacity-0 image-card-description">
                                <p>
                                    <a href="{{ path('doodle_view', {id: doodle.id}) }}" class="">
                                        {{ doodle.description|slice(0, 200) }}
                                    </a>
                                </p>
                                <p>
                                    <a href="{{ path('doodle_view', {id: doodle.id}) }}" class="">
                                        <b>{{ doodle.userName }}</b>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr/>
        <div class="row mt-4">
            <div class="col-sm">
                <a href="{{ path('doodle_gallery', {order: 'createdAt'}) }}">
                    <h6>{{ 'Latest'|trans|upper }}</h6>
                </a>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
            {% for doodle in new_doodles %}
                <div class="col">
                    <div class="card image-card h-100">
                        <a href="{{ path('doodle_view', {id: doodle.id}) }}" class="">
                            <img src="/img/doodle{{ doodle.url }}" class="card-img-top" alt="{{ doodle.userName }}">
                        </a>
                        <div class="image-card-info">
                            <div class="opacity-0 image-card-overlay">
                            </div>
                            <div class="opacity-0 image-card-description">
                                <p>
                                    <a href="{{ path('doodle_view', {id: doodle.id}) }}" class="">
                                        {{ doodle.description|slice(0, 200) }}
                                    </a>
                                </p>
                                <p>
                                    <a href="{{ path('doodle_view', {id: doodle.id}) }}" class="">
                                        <b>{{ doodle.userName }}</b>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}
